*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Vazirmatn';
}
a{
    text-decoration: none;
}
.text-main-color-1{
color: #654fef;
}
.w-60{
    width: 60px;
    height: 60px;
}
.fs-13{
    font-size: 13px;
}
.fs-10{
    font-size: 10px;
}
.ff-ybakh{
    font-family: 'YekanBakhMedium';
}
.fw-900{
   font-weight:900; 
}
.ff-sahel{
    font-family: 'sahel';
}
.ff-lalezar{
    font-family: 'lalezar';
}
.btn-main-1{
    background-color: #735ff2;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #fff;
    transition: all 0.3s;
    /* opacity: 0.9; */
}
.btn-main-2{
    background-color: rgb(232, 234, 246);
    border: none;
    border-radius: 10px;
    outline: none;
    color: #654fef;
    transition: all 0.3s;
}
.btn-main-1:hover{
    background-color: #422bdb;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #fff;
    
}
.btn-main-2:hover{
    background-color: rgb(220, 224, 244);
    border: none;
    border-radius: 10px;
    outline: none;
    color: #654fef;
}